@using E_ticaret_Uygulaması.Models;
@model IEnumerable<ProductModel>
<div class="row">

    @foreach (var urun in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="~/Upload/@urun.Image" class="card-img-top" alt="@urun.Name">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Home/Details/@urun.Id"> @urun.Name</a>

                    </h5>
                    <p class="card-text pt-1"Description>@urun.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        <i class="fa fa-try" aria-hidden="true"></i>
                            @urun.Price TL
                     
                    </small>
                    <a href="/Home/Details/@urun.Id" class="btn btn-primary btn-sm float-right">
                        <i class="fa-solid fa-angles-right fa-fw">
                            Ürün İncele
                        </i>
                        </a>                    

                </div>
            </div>
        </div>
    }

</div>
