@model E_ticaret_Uygulaması.Models.Cart

<style>
    #cart{
        color:white;
    }
</style>
<ul class="navbar-nav  my-2 my-lg-0">

    <li id="cart" class="nav-item">
        <i class="fa-solid fa-cart-shopping fa-fw"></i>
        (@Model.CartLines.Count)
    </li>
    
    <li class="nav-item">
       
    </li>


</ul>

