@using E_ticaret_Uygulaması.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">E-ticaret Sayfasına Hoşgeldiniz</h1>
        <p class="lead">Tüm elektronik eşyaları bu sayfada bulabilirsiniz</p>
        <hr class="my-4">
           
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList",Model)
</div>









